<div class="example-small-box mat-elevation-z4">
    <mat-accordion>
        <mat-expansion-panel hideToggle style="width: 60%;min-width: 250px;margin:0;">
            <mat-expansion-panel-header>
                <mat-panel-title style="justify-content: center;">
                    <mat-icon>library_add</mat-icon><span>Add Task</span>
                </mat-panel-title>
                <mat-panel-description style="justify-content: end;">
                    +
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div [formGroup]="Task" style="display: flex;flex-wrap: wrap;gap: 12px; align-items: center;">
                
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Task Title</mat-label>
                    <input matInput formControlName="taskTitle">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Task Description</mat-label>
                    <textarea matInput formControlName="taskDescription"></textarea>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Task category </mat-label>
                    <textarea matInput formControlName="category"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline" style="min-width: 200px;">
                    <mat-label>Task Target date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="targetDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <button mat-button (click)="addTask()" [disabled]="!Task.valid" color="primary">Add
                    Task</button>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</div>

<h1>All Tasks</h1>
<div class="task-content">
    <mat-card  *ngFor="let Task of Tasks"  style="width: 60%;">
        <mat-card-title>{{Task.taskTitle}}</mat-card-title>
        <mat-card-subtitle>{{Task.taskDescription}}</mat-card-subtitle>
        <mat-card-actions align="end">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deleteTask(Task.taskId)">
                    <mat-icon>delete</mat-icon>
                    <a >delete</a>
                </button>
                <button mat-menu-item (click)="updateTask(Task)">
                    <mat-icon>eject</mat-icon>
                    <a>update</a>
                </button>
                <button mat-menu-item (click)="setImp(Task.taskId)">
                    <mat-icon>favorite</mat-icon>
                    <a>Set Important</a>
                </button>
                <button mat-menu-item (click)="archive(Task.taskId)">
                    <mat-icon>archive</mat-icon>
                    <a>archive</a>
                </button>
                <button mat-menu-item (click)="setCompleted(Task)">
                    <mat-icon>done</mat-icon>
                    <a>Complete</a>
                </button>
            </mat-menu>
        </mat-card-actions>
    </mat-card>
</div>