<div style="height: 100%;">
    <mat-toolbar style="height: 100%;">
        <button (click)="drawers.toggle()" mat-icon-button class="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <span>TODO App</span>
        <!-- <input type="text" placeholder="Search.." style="margin-left:300px; width: 400px; height: 30px; background-color: aliceblue; color: aliceblue;"> -->
        <span class="space"></span>
        <button style="color: rgb(212, 0, 255);" mat-icon-button matTooltip="Home" routerLink="/home/task" class="home">
            <mat-icon>home</mat-icon>
        </button>
        <button color="accent" mat-icon-button matTooltip="Archived" routerLink="/home/archive" class="archive">
            <mat-icon>archive</mat-icon>
        </button>
        <button color="warn" mat-icon-button matTooltip="Important" routerLink="/home/important" class="important">
            <mat-icon>favorite</mat-icon>
        </button>
        <!-- <button color="warn" mat-icon-button matTooltip="Account" routerLink="/account/login" class="Account">
        <mat-icon>account_circle</mat-icon>  </button> -->
        <button color="warn" mat-icon-button matTooltip="Account"  class="Account" [matMenuTriggerFor]="userMenu" >
            <mat-icon>account_circle</mat-icon>
          </button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item routerLink="/account/login" [(ngModel)]="userName">
              <mat-icon >account_circle</mat-icon>
              <span>{{userName}}</span>
            </button>
            <button mat-menu-item routerLink="/account/login" (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
    </mat-toolbar>
</div>